*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-400: #555;
    --base-800: #000;
    --blue: #00bfff;
    --blue-100: #8fe3ff;
    --blue-400: #2d9bc0;
    --blue-800: #014e68;
    --teal: #00ff99;
    --teal-100: #83ffcd;
    --teal-400: #2daa78;
    --teal-800: #00623b;
}--

body {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--teal-400);
    &:hover {
        text-decoration: underline;
    }
}

header {
    padding-top:10px;
    padding-bottom:10px;
    display:flex;
    justify-content:space-between;
   
    margin:auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background: url('./imgs/saltoangel.png');

    .logo-holder {
        display:flex;
        padding:10px;
        align-items:center;
        font-weight:600;
        color: var(--base-100);
    
        .logo {
            display:flex;
            align-items:center;
            justify-content:center;
            font-size:32px;
            background-color: var(--blue-400);
            color: var(--blue-100);
            height:100px;
            width:100px;
            margin-right:20px;
            border-radius:50%;
        }

        .circle-im {
            border-radius:50%
        }
        .logo-text {
            flex:1;
            font-size:48px;
            font-family: "Handjet", sans-serif;
            transition: color 0.3s, text-shadow 0.3s;
            text-shadow: 
                -2px -2px 0 var(--base-800),  
                2px -2px 0 var(--base-800),
                -2px  2px 0 var(--base-800),
                2px  2px 0 var(--base-800);
            padding-right:48px;
            color:var(--blue-100);
            border: #f1f1f1;
            border-radius: 10px;
        }
    }

    nav {
        display:flex;
        align-items:center;
        ul {
            display:flex;
            list-style-type: none;
            gap:5px;
            li {
                display:inline-block;
                padding-right:24px;
                a {
                    display:inline-block;
                    padding:10px 20px;
                    color:var(--base-100);
                    font-weight: 400;
                    font-size:40px;
                    font-family: "Handjet", sans-serif;
                    transition: color 0.3s, text-shadow 0.3s;
                    text-shadow: 
                        -2px -2px 0 var(--base-800),  
                        2px -2px 0 var(--base-800),
                        -2px  2px 0 var(--base-800),
                        2px  2px 0 var(--base-800);
                    &:hover {
                        background: var(--base-100);
                        
                        border-radius:10px;
                        text-decoration:none;
                    }
                }
            }
        }
        .mobile-toggle {
            display:none;
            color:var(--blue-100);
            padding:10px;
            @media (max-width:768px) {
                display:inline-block;
                position:absolute;
                top:20px;
                right:20px;
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction:column;
        align-items:center;
    }

    @media (max-width: 768px) {
        flex-direction:column;
        align-items:center;
        nav {
            margin-top:10px;
            width:100%;
            ul {
                display:none;
                flex-direction:column;
                text-align:center;
                width:100%;
                a {
                    width:100%;
                }
                &.active {
                    display:flex;
                }
            }
        }
    }
}

.button {
    display: inline-block;
    padding:10px 30px;
    background-color: var(--teal-400);
    color: var(--base-100);
    border-radius:10px;
    transition: ease 0.3s all;
    
    &:hover {
        text-decoration: none;
        background-color: var(--teal-100);
    }
}

h1 {
    font-size:64px;
    line-height:1;
    margin-bottom:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    small {
        display:block;
        font-weight:400;
    }
    @media (max-width:1024px) {
        font-size:48px;
    }
}

.container {
    
    margin:auto;
    gap:30px;
    margin-top:30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;    

}

.home {
    display:flex;
    @media (max-width:1024px) {
        flex-direction: column;
    }
    .home-text{
        font-family: "Handjet", sans-serif;
        font-size: 32px;
        font-weight: 500;
        flex:1;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding:30px 30px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        .call-to-action {
            margin-top:20px;
            margin-bottom:10px;
            a {
                margin-right:10px;
                margin-bottom: 10px;
            }
        }

        @media (max-width: 1024px) {
            font-size: 18px;
        }
    
        @media (max-width: 768px) {
            font-size: 14px;
        }

        .social-links {
            a {
                &.hover {
                    text-decoration: none;
                }
            }
        }
        
    }
    .home-part2{
        flex:1;
        border-radius:30px;
        padding:0px;
        display:flex;
        justify-content: center;
        align-items: center;
        img {
            border-radius:30px;
        }
    }
}

.logos {
    background-color: var(--base-100);
    border-radius: 30px;
    padding: 30px 0px;
    padding-bottom: 30px;
    max-width: 82%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media (max-width:1024px) {
        border-radius: 0px;
    }
    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 130px;
        overflow: hidden;
        position: relative;
        .track {
            position:absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap:10px;
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

h2 {
    font-family: "Handjet", sans-serif;
    font-size:64px;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding:30px;
    small {
        display: block;
        font-weight: 600;
        font-size: 0.6em;
        color:var(--base-800);
        text-decoration: underline;
    }
    @media (max-width:1024px) {
        font-size:48px;
    }
}

p {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}

h3 {
    font-family: "Handjet", sans-serif;
    font-size:40px;
    font-weight: 600;
    line-height: 1;
    margin-bottom:20px;
    color: var(--base-800);
}

.skills {
    .holder-blue {
        font-family: "Handjet", sans-serif;
        background-color: var(--teal-100);
        font-size:28px;
        font-weight: 450;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        @media(max-width:1024px) {
            flex-direction: column;
        }
        .left-column {
            flex: 1;
            ul {
                list-style: none;
                gap:10px;
                margin-right: 100px;
                margin-bottom: 20px;
                li {
                    display: inline-block;
                    background-color: var(--teal-400);
                    padding:5px 15px;
                    border-radius: 15px;
                }
            }
        }
        .right-column {
            flex: 1;
            p {
                margin_bottom:20px;
            }
        }
    }
}

.work-experience {
    .jobs {
        display:flex;
        gap:30px;
        @media (max-width:1024px) {
            flex-direction: column;
        }
        article {
            background-color: var(--blue-100);
            padding: 30px;
            border-radius:30px;
            flex:1;
            h3 {
                margin-top:10px;
                margin-bottom: 5px;
            }
            div {
                font-family: "Handjet", sans-serif;
                font-size:30px;
                font-weight: 450;
                color: var(--blue-800)
            }
            p {
                margin-bottom: 10px;
            }
            figure {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;
                border-radius:15px;
                img {
                    position: absolute;
                    top:0;
                    left:0;
                    height:100%;
                    object-fit: cover;
                    transition: ease 1s all;
                }
                figcaption {
                    position: absolute;
                    bottom:0;
                    left:0;
                    right:0;
                    background-color: rgba(0,0,0,0.5);
                    color: var(--base-100);
                    text-align: center;
                    padding: 10px;
                    opacity:0;
                    visibility: hidden;
                    transition: ease 0.3s all;
                }

                &:hover {
                    figcaption {
                        opacity:1;
                        visibility: visible;
                    }
                    img {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.bento {
    .bento-grid {
        display: grid;
        grid-gap:30px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(6, 1fr);
        padding-left: 30px;
        padding-right: 30px;

        @media (max-width:1024px) {
            grid-template-rows: repeat (6, 1fr);
        }
        .bento-item {
            padding:30px;
            background-color: var(--base-100);
            position: relative;
            overflow: hidden;
            position: relative;
            border-radius: 15px;
            img {
                position: absolute;
                top:0;
                left:0;
                height:100%;
                object-fit: cover;
                transition: ease 1s all;
            }
            figcaption {
                position: absolute;
                bottom:0;
                left:0;
                right:0;
                background-color: rgba(0,0,0,0.5);
                color: var(--base-100);
                text-align: center;
                padding: 10px;
                opacity:0;
                visibility: hidden;
                transition: ease 0.3s all;
            }

            &:hover {
                figcaption {
                    opacity:1;
                    visibility: visible;
                }
                img {
                    opacity:1;
                    visibility: visible;
                }
                img {
                    transform: scale(1.2);
                }
            }
            &:nth-child(1) {
                grid-column: span 2;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }
            &:nth-child(2) {
                grid-column: span 3;
                grid-row: span 3;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(3) {
                grid-column: span 3;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 3;
                    grid-row: span 2;
                }
            }
            &:nth-child(4) {
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 2;
                    grid-row: span 1;
                }
            }
            &:nth-child(5) {
                grid-column: span 1;
                grid-row: span 1;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 1;
                    grid-row: span 2;
                }
            }
            &:nth-child(6) {
                grid-column: span 2;
                grid-row: span 4;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 2;
                    grid-row: span 4;
                }
            }
            &:nth-child(7) {
                grid-column: span 1;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 3;
                    grid-row: span 1;
                }
            }
            &:nth-child(8) {
                grid-column: span 2;
                grid-row: span 3;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 2;
                    grid-row: span 3;
                }
            }
            &:nth-child(9) {
                grid-column: span 3;
                grid-row: span 3;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 3;
                    grid-row: span 3;
                }
            }
            &:nth-child(10) {
                grid-column: span 1;
                grid-row: span 2;
                @media (max-width:1024px) {
                    grid-template-rows: repeat (6, 1fr);
                    grid-column: span 1;
                    grid-row: span 2;
                }
            }
        }
    }
}